<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REST API | Buzz Wise</title>
    <style>
        @import url(https://fonts.googleapis.com/css2?family=Montserrat&display=swap);

        code,
        pre {
            background-color: #f1f1f1
        }

        * {
            box-sizing: border-box
        }

        html {
            scroll-behavior: smooth
        }

        body {
            font-family: Montserrat, sans-serif;
            font-size: 14px;
            line-height: 1.5rem
        }

        .container {
            width: 800px;
            margin: 80px auto
        }

        hr {
            border: none;
            height: 2px;
            background-color: #4658c6;
            margin: 20px 0
        }

        a {
            color: #000;
            text-decoration: none
        }

        a:hover {
            font-weight: 700
        }

        code,
        h3::before,
        p a {
            color: #4658c6
        }

        h3::before {
            content: "#";
            display: inline-block;
            margin-right: 5px;
            position: relative
        }

        code {
            padding: 2px
        }

        pre {
            border-radius: 5px;
            overflow: auto
        }

        .response {
            background-color: transparent
        }

        @media screen and (max-width:600px) {
            .container {
                width: 100%;
                padding: 0 20px
            }
        }
    </style>
</head>

<body>
    <section class="container">
        <h1>Buzz Wise App</h1>
        <hr>
        <h2 id="endpoint"><a href="#endpoint">Endpoint</a></h2>
        <p><a href="https://buzzwisebackend-fu5dz3fuxq-uc.a.run.app">https://buzzwisebackend-fu5dz3fuxq-uc.a.run.app</a>
        </p>
        <h2>Jobs</h2>
        <!-- Add Job -->
        <h3 id="add-job"><a href="#add-job">Add Job</a></h3>
        <ul>
            <li>
                URL
                <ul>
                    <li>
                        <code>/api/jobs/addJob</code>
                    </li>
                </ul>
            </li>
            <li>
                Method
                <ul>
                    <li>POST</li>
                </ul>
            </li>
            <li>
                Request Body
                <ul>
                    <li><code>title</code> as <code>text</code></li>
                    <li><code>companyName</code> as <code>text</code></li>
                    <li><code>location</code> as <code>text</code></li>
                    <li><code>email</code> as <code>text</code></li>
                    <li><code>jobType</code> as <code>text</code></li>
                    <li><code>requiredSkill</code> as <code>text</code></li>
                    <li><code>jobDescription</code> as <code>text</code></li>
                    <li><code>companyProfileImage</code> as <code>file</code></li>
                </ul>
            </li>
            <li>
                Response
                <pre>
        <code class="response">
    {
        "message": "Successfully Added a Job",
        "data": {
            "id": "yNuNFkdGjZP2NgN1",
            "title": "AC Service",
            "companyName": "Samsung Service Center",
            "location": "Jakarta, Indonesia",
            "email": "servicecenter@samsung.id",
            "jobType: "Full-time",
            "requiredSkill: "AC Repair",
            "jobDescription: "Lorem ipsum dolor sit amet consectetur adipisicing elit.",
            "createdAt": "6/9/2023|11:17:50 AM",
            "companyProfileImage": "URL"
        }
    }
        </code>
        </pre>
            </li>
        </ul>
        <!-- Display All Jobs -->
        <h3 id="all-jobs"><a href="#all-jobs">Display All Jobs</a></h3>
        <ul>
            <li>
                URL
                <ul>
                    <li>
                        <code>/api/jobs/allJobs</code>
                    </li>
                </ul>
            </li>
            <li>
                Method
                <ul>
                    <li>GET</li>
                </ul>
            </li>
            <li>
                Response
                <pre>
        <code class="response">
    {
        "message": "Display All Job Listings",
        "data": [
            {
                "createdAt": "6/7/2023|3:13:17 PM",
                "companyProfileImage": "URL",
                "companyName": "Samsung Service Center",
                "jobDescription": "Lorem ipsum dolor sit amet consectetur adipisicing elit.",
                "location": "Jakarta, Indonesia",
                "requiredSkill": "AC Repair",
                "id": "4mWPCWQmDkU4nczUFgrc",
                "jobType": "Full-Time",
                "title": "AC Service",
                "email": "servicecenter@samsung.id"
            },
            ...
        ]
    }
        </code>
        </pre>
            </li>
        </ul>
        <!-- Display a Job -->
        <h3 id="job"><a href="#job">Display a Job</a></h3>
        <ul>
            <li>
                URL
                <ul>
                    <li>
                        <code>/api/jobs/job/:id</code>
                    </li>
                </ul>
            </li>
            <li>
                Method
                <ul>
                    <li>GET</li>
                </ul>
            </li>
            <li>
                Response
                <pre>
        <code class="response">
    {
        "message": "Display a Job Data",
        "data": [
            {
                "createdAt": "6/9/2023|11:17:50 AM",
                "companyProfileImage": "URL",
                "companyName": "Samsung Service Center",
                "jobDescription": "Lorem ipsum dolor sit amet consectetur adipisicing elit.",
                "location": "Jakarta, Indonesia",
                "requiredSkill": "AC Repair, Troubleshooting",
                "id": "oGbB1tZ9XQ2JHH6vHwDI",
                "jobType": "Full-Time",
                "title": "AC Service",
                "email": "servicecenter@samsung.id"
           }
        ]
    }
        </code>
        </pre>
            </li>
        </ul>
        <!-- Delete Job -->
        <h3 id="delete"><a href="#delete">Delete Job</a></h3>
        <ul>
            <li>
                URL
                <ul>
                    <li>
                        <code>/api/jobs/deleteJob/:id</code>
                    </li>
                </ul>
            </li>
            <li>
                Method
                <ul>
                    <li>DELETE</li>
                </ul>
            </li>
            <li>
                Response
                <pre>
        <code class="response">
    {
        "message": "Delete Job Successfully"
    }
        </code>
        </pre>
            </li>
        </ul>

        <h2>Users</h2>
        <!-- User Sign Up -->
        <h3 id="sign-up"><a href="#sign-up">Sign Up</a></h3>
        <ul>
            <li>
                URL
                <ul>
                    <li>
                        <code>/api/users/signUp</code>
                    </li>
                </ul>
            </li>
            <li>
                Method
                <ul>
                    <li>POST</li>
                </ul>
            </li>
            <li>
                Request Body
                <ul>
                    <li><code>name</code> as <code>text</code></li>
                    <li><code>email</code> as <code>text</code>, must be unique</li>
                    <li><code>password</code> as <code>text</code>, must be at least 6 characters</li>
                </ul>
            </li>
            <li>
                Response
                <pre>
        <code class="response">
    {
        "message": "User Account Signed Up Successfully"
    }
        </code>
        </pre>
            </li>
        </ul>
        <!-- Sign In -->
        <h3 id="sign-in"><a href="#sign-in">Sign In</a></h3>
        <ul>
            <li>
                URL
                <ul>
                    <li>
                        <code>/api/users/signIn</code>
                    </li>
                </ul>
            </li>
            <li>
                Method
                <ul>
                    <li>POST</li>
                </ul>
            </li>
            <li>
                Request Body
                <ul>
                    <li><code>email</code> as <code>text</code></li>
                    <li><code>password</code> as <code>text</code></li>
                </ul>
            </li>
            <li>
                Response
                <pre>
        <code class="response">
    {
        "message": "User Account Signed In Successfully",
        "data": {
            "user": {
                "uid": "zzBes2aFGEVJJipYDOixtmytH3Y2",
                "displayName": "Billy Mobile",
                "email": "billymobile19@gmail.com",
                "emailVerified": false,
            },
            "operationType": "signIn"
        }
    }
        </code>
        </pre>
            </li>
        </ul>
        <!-- Sign Out -->
        <h3 id="sign-out"><a href="#sign-out">Sign Out</a></h3>
        <ul>
            <li>
                URL
                <ul>
                    <li>
                        <code>/api/users/logOut</code>
                    </li>
                </ul>
            </li>
            <li>
                Method
                <ul>
                    <li>DELETE</li>
                </ul>
            </li>
            <li>
                Header
                <ul>
                    <li><code>Authorization</code> : <code> Bearer &lt;token&gt;</code></li>
                </ul>
            </li>
            <li>
                Response
                <pre>
        <code class="response">
    {
        "message": "User Log Out Successfully",
        "status": "Success"
    }
        </code>
        </pre>
            </li>
        </ul>
        <!-- Email Verification -->
        <h3 id="verification"><a href="#verification">Email Verification</a></h3>
        <ul>
            <li>
                URL
                <ul>
                    <li>
                        <code>/api/users/verifyUserEmail</code>
                    </li>
                </ul>
            </li>
            <li>
                Method
                <ul>
                    <li>POST</li>
                </ul>
            </li>
            <li>
                Request Body
                <ul>
                    <li><code>email</code> as <code>text</code></li>
                </ul>
            </li>
            <li>
                Response
                <pre>
        <code class="response">
    {
        "message": "Verify User Account Email Successfully",
        "status": "Email Verification Sent, Please check your inbox"
    }
        </code>
        </pre>
            </li>
        </ul>
        <!-- Forgot User Password -->
        <h3 id="forgot-pw"><a href="#forgot-pw">Forgot Password</a></h3>
        <ul>
            <li>
                URL
                <ul>
                    <li>
                        <code>/api/users/forgetUserPassword</code>
                    </li>
                </ul>
            </li>
            <li>
                Method
                <ul>
                    <li>POST</li>
                </ul>
            </li>
            <li>
                Request Body
                <ul>
                    <li><code>email</code> as <code>text</code></li>
                </ul>
            </li>
            <li>
                Response
                <pre>
        <code class="response">
    {
        "message": "Forget User Password Successfully",
        "status": "Password Reset Email Sent, Please check your inbox"
    }
        </code>
        </pre>
            </li>
        </ul>
        <!-- Display All Users Account Profiles -->
        <h3 id="display-users"><a href="#display-users">Display All Users</a></h3>
        <ul>
            <li>
                URL
                <ul>
                    <li>
                        <code>/api/users/allUsersProfiles</code>
                    </li>
                </ul>
            </li>
            <li>
                Method
                <ul>
                    <li>GET</li>
                </ul>
            </li>
            <li>
                Response
                <pre>
        <code class="response">
    {
        "message": "Display All User Profile",
        "data": [
            {
                "id": "zzBes2aFGEVJJipYDOixtmytH3Y2",
                "name": "Billy Mobile",
                "email": "billymobile19@gmail.com",
                "headline": null,
                "location": null,
                "status": "Available",
                "skills": null,
                "userProfileImage": "URL",
                "about": null,
                "createdAt": "6/15/2023|1:32:38 AM"
            },
            ...
        ]
    }
        </code>
        </pre>
            </li>
        </ul>
        <!-- Display a User Account Profile Authorization -->
        <h3 id="display-user"><a href="#display-user">Display a User Account Profile</a></h3>
        <ul>
            <li>
                URL
                <ul>
                    <li>
                        <code>/api/users/userProfile</code>
                    </li>
                </ul>
            </li>
            <li>
                Method
                <ul>
                    <li>POST</li>
                </ul>
            </li>
            <li>
                Header
                <ul>
                    <li><code>Authorization</code> : <code> Bearer &lt;token&gt;</code></li>
                </ul>
            </li>
            <li>
                Response
                <pre>
        <code class="response">
    {
        "message": "Verify User Account Email Successfully",
        "status": "Email Verification Sent, Please check your inbox"
    }
        </code>
        </pre>
            </li>
        </ul>
        <!-- Update User Account Profile -->
        <h3 id="update-user"><a href="#update-user">Update User Account Profile</a></h3>
        <ul>
            <li>
                URL
                <ul>
                    <li>
                        <code>/api/users/updateUserAccountProfile</code>
                    </li>
                </ul>
            </li>
            <li>
                Method
                <ul>
                    <li>PUT</li>
                </ul>
            </li>
            <li>
                Header
                <ul>
                    <li><code>Authorization</code> : <code> Bearer &lt;token&gt;</code></li>
                </ul>
            </li>
            <li>
                Request Body
                <ul>
                    <li><code>name</code> as <code>text</code></li>
                    <li><code>headline</code> as <code>text</code></li>
                    <li><code>location</code> as <code>text</code></li>
                    <li><code>skills</code> as <code>text</code></li>
                    <li><code>status</code> as <code>text</code></li>
                    <li><code>about</code> as <code>text</code></li>
                    <li><code>userProfileImage</code> as <code>file</code></li>
                </ul>
            </li>
            <li>
                Response
                <pre>
        <code class="response">
    {
        "message": "Successfully Update a User Profile",
        "data": {
            "name": "Billy",
            "headline": "Nothing last forever",
            "location": "Ambon, Indonesia",
            "skills": "AC Repair, Troubleshooting",
            "status": "Unavailable",
            "userProfileImage": "URL",
            "about": "Cras dapibus. Vivamus elementum semper nisi."
        }
    }
        </code>
        </pre>
            </li>
        </ul>
        <!-- Edit User Profile -->
        <h3 id="edit-user"><a href="#edit-user">Edit User Profile</a></h3>
        <ul>
            <li>
                URL
                <ul>
                    <li>
                        <code>/api/users/editUserProfile</code>
                    </li>
                </ul>
            </li>
            <li>
                Method
                <ul>
                    <li>PUT</li>
                </ul>
            </li>
            <li>
                Header
                <ul>
                    <li><code>Authorization</code> : <code> Bearer &lt;token&gt;</code></li>
                </ul>
            </li>
            <li>
                Request Body
                <ul>
                    <li><code>name</code> as <code>text</code></li>
                    <li><code>userProfileImage</code> as <code>file</code></li>
                </ul>
            </li>
            <li>
                Response
                <pre>
        <code class="response">
    {
        "message": "Successfully Update a User Profile",
        "data": {
            "name": "Billy",
            "userProfileImage": "URL"
        }
    }
        </code>
        </pre>
            </li>
        </ul>
        <!-- Edit User Profile -->
        <h3 id="edit-user-info"><a href="#edit-user-info">Edit User Information</a></h3>
        <ul>
            <li>
                URL
                <ul>
                    <li>
                        <code>/api/users/editUserInformation</code>
                    </li>
                </ul>
            </li>
            <li>
                Method
                <ul>
                    <li>PUT</li>
                </ul>
            </li>
            <li>
                Header
                <ul>
                    <li><code>Authorization</code> : <code> Bearer &lt;token&gt;</code></li>
                </ul>
            </li>
            <li>
                Request Body
                <ul>
                    <li><code>headline</code> as <code>text</code></li>
                    <li><code>location</code> as <code>text</code></li>
                    <li><code>skills</code> as <code>text</code></li>
                    <li><code>status</code> as <code>text</code></li>
                    <li><code>about</code> as <code>text</code></li>
                </ul>
            </li>
            <li>
                Response
                <pre>
        <code class="response">
    {
        "message": "Successfully Update a User Profile",
        "data": {
            "headline": "Nothing last forever",
            "skills": "AC Repair, Troubleshooting",
            "location": "Ambon, Indonesia",
            "status": "Not Available",
            "about": "Cras dapibus. Vivamus elementum semper nisi."
        }
    }
        </code>
        </pre>
            </li>
        </ul>
    </section>
</body>

</html>